@model TCMI.Admin.Models.EventMeta

@{
    ViewBag.Title = "Create";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/InsertUpdateEvent.js"></script>

<link href="~/Content/default.css" rel="stylesheet" />
<link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>


<header>
    <img src="~/Images/logo.png" />
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("index","home")" class="navbar-brand">TCMI Admin</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("index","event")">Events</a></li>
                <li><a href="@Url.Action("index","prayer")">Prayer</a></li>
                @*<li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Messages <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Drafts</a></li>
                            <li><a href="#">Sent Items</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Trash</a></li>
                        </ul>
                    </li>*@
            </ul>
            @*<form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>*@
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("logout","user")">Log Out</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="page-header"><h2>Create</h2></div>




    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="panel panel-primary">
            <div class="panel-heading">Event</div>
            <div class="panel-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.Title)

                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description)

                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Venue)

                    @Html.EditorFor(model => model.Venue)
                    @Html.ValidationMessageFor(model => model.Venue)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfEvent)

                    @Html.EditorFor(model => model.DateOfEvent)
                    @Html.ValidationMessageFor(model => model.DateOfEvent)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Time)

                    @Html.EditorFor(model => model.Time)
                    @Html.ValidationMessageFor(model => model.Time)
                </div>

               
            </div>

            <div class="panel-footer">
                <p>
                    <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Save</button>
                </p>
            </div>
        </div>
    }

    <div>
        <a href="@Url.Action("index", "event")"><i class='fa fa-chevron-left'></i> Back to List</a>

    </div>


</div>